body{
 background-color: rgb(44, 132, 55);
 
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

div canvas {
    background-color: white;
   
}
header{
    display: flex;
    align-items: center; 
    justify-content: center;
}
h1{
    font-size: 40px;
    font-style: oblique;
    align-items: center;
    color: red;

}
#herramientas,#filtros{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background-color: rgb(132, 198, 140);

}
h2{
    text-align: center;
}
#foto{
    margin: 5px;
}



